.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.h3header{
    font-size: 15px;
    font-weight: 900;
    color: black;
    letter-spacing: 1px;
}

.homePage h3 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.homePage p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;
    margin: 0rem 20rem;
    text-align: center;
}

.homePage h4 {
    font-size: 1.3rem;
    font-weight: 800;
    margin: .7rem;
}

.homePage h5 {
    font-size: 1.1rem;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .homePage {
        margin: 2rem;
        height: 100vh;
    }

    .homePage p {
        margin: 2.2rem 7rem;
    }
}

@media only screen and (max-width: 425px) {
    .homePage {
        margin: 1rem;
        height: 100vh;
        margin: 2.2rem 1rem;
    }

    .homePage p {
        margin: 2.5rem 1rem;
    }

    .homePage h3 {
        font-size: 1.5rem;
        margin: 0 2rem;
    }

    .homePage img {
        width: 30%;
    }
}

@media only screen and (max-width: 320px) {
    .homePage {
        margin: 1rem;
        height: 100vh;
        margin: 2.2rem 1rem;
    }

    .homePage p {
        margin: 1rem 1rem;
    }

    .homePage h3 {
        font-size: 1rem;
        margin: 0 1rem;
    }

    .homePage img {
        width: 35%;
    }
}